# Ignore zip archives
*.zip

# Ignore dependency directories
node_modules/
**/node_modules/

# Ignore Python cache files
**/__pycache__/
*.py[cod]

# Ignore PlatformIO and IoT editor build artifacts
iot/.pio/
iot/.vscode/

# Optional common ignores
.DS_Store
.env
